@mixin borderRadius {
  border-radius: 10px;
}
@mixin boxShadow {
  box-shadow: 12px 12px 10px black;
}
@mixin purpleBoxShadow {
  box-shadow: 10px 10px 0px #560bad;
}
@mixin smoothTranstion {
  transition: all 0.1s ease-in-out;
}
@mixin textShadow {
  text-shadow: 2px 2px 5px black;
}
@mixin purpleTextShadow {
  text-shadow: 5px 5px 0px #560bad;
}

* {
  font-family: "Bebas Neue", cursive;
}

h1,
h2 {
  text-align: center;
}

/*Navigation*/
.bg-dark {
  background-color: #f72585 !important;
}
.navbar-brand {
  @include smoothTranstion();
  @include purpleTextShadow();
  transform: scale(110%);
  font-size: 3em;
  margin: 0 0.5em;
  &:hover {
    @include purpleTextShadow();
    transform: scale(120%);
  }
}
.nav-link {
  @include smoothTranstion();
  font-size: 2em;
  &:hover {
    @include purpleTextShadow();
    transform: scale(120%);
    color: rgba(255, 255, 255, 1) !important;
  }
}

/*Content*/
body {
  background-color: #f72585;
}

#landing {
  background-image: url("./media/land.png");
  height: 95vh;
  color: white;
  h1 {
    @include textShadow();
    font-size: 5em;
    margin-top: 3em;
  }
  p {
    @include textShadow();
    font-size: 3em;
    text-align: center;
  }
  button {
    @include borderRadius();
    @include smoothTranstion();
    border: none;
    background-color: #4cc9f0;
    font-size: 3em;
    padding: 0.5em;
    &:hover {
      @include purpleBoxShadow();
      transform: scale(110%);
      color: white;
    }
  }
  .land-img-box {
    padding: 0;
    img {
      width: 100%;
    }
  }
}

.wave {
  padding: 0;
}

#feature {
  background-color: #4cc9f0;
  padding-bottom: 2em;
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3em;
  }
  iframe {
    @include borderRadius();
    display: block;
    margin: auto auto;
  }
}

footer {
  text-align: center;
  font-size: 2em;
  padding-top: 2em;
  background-color: #4cc9f0;
  p {
    margin: 0;
  }
}
